body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden; /* Prevent page scroll */
}

.shops-page {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 0px 0px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
}

.app-name {
  margin-left: 3px;
  margin-bottom: 8px;
  /* font-weight: 600; */
  font-size: 19px;
  color: #333;
}

.header-icons {
  display: flex;
  gap: 16px;
  margin-right: 55px;
}

.header-icons img {
  /* width: 24px; */
  height: 31px;
  cursor: pointer;
}

.shops-title {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: fixed;
  width: 100%;
  margin-top: 31px;
  padding: 16px 16px 0px 16px;
  font-size: 13px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px #0000001a;
}
.shops-title img{
  height: 14px;
  margin-right: 20px;
}

.shops-list {
  margin-top: 95px;
  height: calc(100vh - 180px); 
  overflow-y: auto; 
}

.shops-list ul {
  list-style: none;
  padding: 0;
}

.shops-list li {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.shops-list li:hover {
  background-color: #f0f0f0;
}

.shops-list img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  background-color: #f8f8f8;
  border-top: 1px solid #e0e0e0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icon {
  /* width: 20px; */
  height: 28px;
  margin-bottom: 4px;
}

.nav-item span {
  font-size: 12px;
  color: #777;

}

.nav-item.active .nav-icon,
.nav-item.active span {
  color: #333;
}

.add-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
